<style>
  h2 {
    color: blue;
  }
</style>

/* External CSS example */
body {
  background-color: lightgray;
}

/* COLOR EXAMPLES */
h1 {
  color: rgb(120, 60, 200);
}

h2 {
  color: #ff5733;
}

h3 {
  color: hsl(200, 70%, 50%);
}

p {
  color: orange;
}

body {
  background-color: #f2f2f2;
}

:root {
  --main-color: teal;
}

header {
  background-color: var(--main-color, blue);
}

section {
  font-size: 1.2rem;   /* relative */
  padding: 5%;         /* relative */
  margin: 2em;         /* relative */

  border-width: 2px;   /* absolute */
  width: 300px;        /* absolute */
  height: 10cm;        /* absolute */
}

h1 {
  text-align: center;
  text-decoration: underline;
}
